<?xml version="1.0" ?>
<theme>
    <name>rea_estadisticas_genero_pepe</name>
    <version>1.4</version>
    <compatibility>2.7-r2.7</compatibility>
    <author>Pedro J. Ramón Torregrosa</author>
    <author-url>https://twitter.com/MasQCiencia</author-url>
    <license>Creative Commons by-sa</license>
    <license-url>http://creativecommons.org/licenses/by-sa/4.0/</license-url>
    <description>Estilo creado para el REA &amp;amp;amp;amp;amp;quot;La estadística de la violencia de género&amp;amp;amp;amp;amp;quot; diseñado por José Navarro Sánchez </description>
    <extra-head><![CDATA[<meta name="viewport" content="width=device-width, initial-scale=1" />
    ]]></extra-head>
    <extra-body><![CDATA[<script type="text/javascript" src="_style_js.js"></script>]]></extra-body>
    <edition-extra-head><![CDATA[<script type="text/javascript">if (typeof(exe_style)!='undefined' && exe_style.indexOf("content.css")!=-1) document.write('<scr'+'ipt type="text/javascript" src="'+exe_style.replace("content.css","_style_js.js")+'"></scr'+'ipt>')</script>]]></edition-extra-head>
</theme>
